<!DOCTYPE html>
<head>
    <title>Cadastro de Receita</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/css/styles.css" rel="stylesheet" type="text/css">
</head>
<body>
<header>
    <nav class="navbar fixed-top header">
        <a class="navbar-brand">Nova Receita</a>
        <form class="form-inline">
            <div>Bem vindo, <a>Usuário</a></div>
        </form>
    </nav>
</header>

<form th:action="@{/receitas}" th:object="${receitaForm}" method="post" class="container content">
      <div th:if="${sucesso}" class="alert alert-success alert-dismissible fade show" role="alert">
          <p class="m-0" th:text="${sucesso}"></p>
          <button type="button" class="close" data-dismiss="alert" aria-label="Fechar">
              <span aria-hidden="true">&times;</span>
          </button>
      </div>

      <div class="form-group">
          <label for="nome">Nome</label>
          <input type="text" class="form-control" th:field="*{nome}" id="nome" placeholder="Nome da receita...">
          <span class="text-danger" th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></span>
      </div>

      <div class="form-group">
          <label for="nome">Link da foto</label>
          <input type="text" class="form-control" th:field="*{linkFoto}" id="linkFoto"
                 placeholder="Link da foto da receita...">
      </div>

      <div class="row">
          <div class="form-group col-sm-6">
              <label for="modoPreparo">Tempo de preparo</label>
              <div class="input-group">
                  <input type="number" class="form-control" th:field="*{tempoPreparo}" id="tempoPreparo"
                         placeholder="Tempo de preparo da receita..." aria-describedby="addon-tempo">
                  <div class="input-group-append">
                      <span class="input-group-text" id="addon-tempo">minutos</span>
                  </div>
              </div>
              <span class="text-danger" th:if="${#fields.hasErrors('tempoPreparo')}" th:errors="*{tempoPreparo}"></span>
          </div>


          <div class="form-group col-sm-6">
              <label for="modoPreparo">Rendimento</label>
              <div class="input-group">
                  <input type="number" class="form-control" th:field="*{rendimento}" id="rendimento"
                         placeholder="Rendimento da receita..." aria-describedby="addon-rendimento">
                  <div class="input-group-append">
                      <span class="input-group-text" id="addon-rendiment">porções</span>
                  </div>
              </div>

              <span class="text-danger" th:if="${#fields.hasErrors('rendimento')}" th:errors="*{rendimento}"></span>
          </div>
      </div>

      <h5>
          Ingredientes
          <button type="button" class="btn btn-success" data-toggle="modal" data-target="#modalIngrediente">
              Adicionar
          </button>
      </h5>
      <div>
          <table class="table">
              <thead>
              <tr><th>Nome</th><th>Quantidade</th><th>Medida</th><th></th></tr>
              </thead>
              <tbody id="tabelaIngredientes">
              <tr th:each="ingrediente, stat : *{ingredientes}">
                  <input type="hidden" th:field="${ingrediente.nome}" th:name="|ingredientes[${stat.index}].nome|" th:value="${ingrediente.nome}"/>
                  <input type="hidden" th:field="${ingrediente.quantidade}" th:name="|ingredientes[${stat.index}].quantidade|" th:value="${ingrediente.quantidade}"/>
                  <input type="hidden" th:field="${ingrediente.medida}" th:name="|ingredientes[${stat.index}].medida|" th:value="${ingrediente.medida}"/>
                  <td th:text="${ingrediente.nome}"></td>
                  <td th:text="${ingrediente.quantidade}"></td>
                  <td th:text="${ingrediente.medida}"></td>
                  <td>
                      <button type="button" class="btn btn-sm btn-danger" onclick="removerIngrediente(this)">
                          <span aria-hidden="true">&times;</span>
                      </button>
                  </td>
              </tr>
              </tbody>
          </table>
          <span class="text-danger" th:if="${#fields.hasErrors('ingredientes*')}" th:errors="*{ingredientes*}"></span>
      </div>

      <hr>

      <div class="form-group">
          <label for="modoPreparo">Modo de preparo</label>
          <textarea class="form-control" id="modoPreparo" th:field="*{modoPreparo}" rows="5"
                    placeholder="Modo de preparo da receita..."></textarea>
          <span class="text-danger" th:if="${#fields.hasErrors('modoPreparo')}" th:errors="*{modoPreparo}"></span>
      </div>

      <div class="form-check">
          <input class="form-check-input" type="checkbox" th:field="*{revisar}" id="revisar">
          <label class="form-check-label" for="revisar">
              Deve ser revisado
          </label>
      </div>

      <div class="row p-3">
          <button class="btn btn-primary" type="submit">Salvar receita</button>
      </div>

  </form>

  <!-- Modal Ingrediente -->
<div class="modal fade" id="modalIngrediente" tabindex="-1" role="dialog" aria-labelledby="modalIngredienteLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalIngredienteLabel">Adicionar ingrediente</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="ingredienteForm">
                    <div class="form-group">
                        <label for="nome">Nome</label>
                        <input type="text" class="form-control" id="ingredientesNome" placeholder="Nome do ingrediente...">
                    </div>
                    <div class="form-group">
                        <label for="nome">Quantidade</label>
                        <input type="number" class="form-control" id="ingredientesQuantidade" placeholder="Quantidade do ingrediente...">
                    </div>
                    <div class="form-group">
                        <label for="nome">Tipo de medida</label>
                        <select class="custom-select" id="ingredientesMedida">
                            <option selected>Selecione um tipo de medida...</option>
                            <option value="GRAMA">Grama</option>
                            <option value="MILILITRO">Mililitro</option>
                            <option value="UNIDADE">Unidade</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" onclick="adicionarIngrediente()">Adicionar</button>
            </div>
        </div>
    </div>
</div>

<script src="/js/jquery-3.5.1.min.js"></script>
<script src="/js/bootstrap.bundle.min.js"></script>
<script src="/js/receita-ingrediente.js"></script>

</body>
</html>