.header,
.header a {
	background-color: orange;
	color: white;
}

.content {
    margin-top: 60px !important;
}

.receita-card {
    width: 45%;
}

.imagem-receita {
    width: 100%;
    height: 100%;
}