<!DOCTYPE html>
<head>
    <title>Lista de Receita</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/css/styles.css" rel="stylesheet" type="text/css">
</head>
<body>

<header>
    <nav th:replace="data :: nav">
    </nav>
</header>

<div th:switch="${#lists.size(receitas)}" class="container content">

    <div th:if="${messageError404}" class="alert alert-danger alert-dismissible fade show" role="alert">
        <p class="m-0" th:text="${messageError404}"></p>
        <button type="button" class="close" data-dismiss="alert" aria-label="Fechar">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <h2 class="text-center" th:case="'0'">Nenhuma receita cadastrada!</h2>
    <div th:case="*">
        <h2>Receitas</h2>
        <div class="row">
            <a th:href="@{/receitas/detalhe/{id}(id=${receita.id})}" class="card mb-3 receita-card"
               th:each="receita : ${receitas}" th:if="${receita.revisar != true}">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img th:src="${receita.linkFoto}" class="card-img img-fluid imagem-receita"
                             th:alt="${receita.nome}">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title" th:text="${receita.nome}"></h5>
                            <div class="card-text">
                                Tempo de preparo: <span th:text="${receita.tempoPreparo}"></span> minutos
                            </div>
                            <div class="card-text">
                                Rendimento: <span th:text="${receita.rendimento}"></span> porções
                            </div>
                            <p class="card-text">
                                <small class="text-muted">
                                    Criado em <span
                                        th:text="${#temporals.format(receita.dataPublicacao, 'dd/MM/yyyy HH:mm')}"></span>
                                </small>
                            </p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
</body>
</html>